.navbar {
  background-color: #a49de1;
}
.nav-link:hover {
  color: #f20606bd !important;
}
.active {
  color: #f20606bd !important;
}
.navbox {
  /* background-color: #888c9175; */
  top: 0 !important;
  position: fixed !important;
  z-index: 1 !important;
}
.aa:hover {
  cursor: pointer;
}
